html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
  color: #efefef;
}

/* Custom Navbar */
#custom-main-navbar.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-main-navbar.navbar-default {
    font-size: 14px;
    background-color: rgba(77, 137, 227, 1);
    border-bottom-width: 1px;
}
#custom-main-navbar.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 137, 227, 1);
}
#custom-main-navbar.navbar-default .navbar-nav>li>a:hover,
#custom-main-navbar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(17, 17, 17, 1);
    background-color: rgba(243, 235, 250, 1);
}
#custom-main-navbar.navbar-default .navbar-nav>.active>a,
#custom-main-navbar.navbar-default .navbar-nav>.active>a:hover,
#custom-main-navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(17, 17, 17, 1);
    background-color: rgba(255, 255, 255, 0.99);
}
#custom-main-navbar.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-main-navbar.navbar-default .navbar-toggle:hover,
#custom-main-navbar.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-main-navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-main-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#custom-main-navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #4d89e3;
}